{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-2">
            <a href="{% url 'project_detail' 1 %}"><img class="card-img-top" src="{% static 'img/Zwerfbond.png' %}"></a>
            <div class="card-body">
                <h5 class="card-title">Zwerfbond App</h5>
                <p class="card-text">A mobile phone application</p>
                <a href="{% url 'project_detail' 1 %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-2">
            <a href="{% url 'project_detail' 2 %}"><img href="{% url 'project_detail' 2 %}" class="card-img-top" src="{% static 'img/OmasSoep.png' %}"></a>
            <div class="card-body">
                <h5 class="card-title">Oma's Soep Data Analysis</h5>
                <p class="card-text">Data analysis project on sales figures</p>
                <a href="{% url 'project_detail' 2 %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}