{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.long_description }}</p>
        <br>
        <h5>Technologies used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <h5>Links:</h5>
        <p>
            Website: <a href={{ project.website }}>{{ project.website }}</a><br>
            Github: <a href={{ project.github }}>{{ project.github }}</a><br>
            PlayStore: <a href={{ project.playstore }}>{{ project.playstore }}</a><br>
            AppStore: <a href={{ project.appstore }}>{{ project.appstore }}</a>
        </p>
    </div>
</div>
{% endblock %}