{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Oma's Soep Data Analysis</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static 'img/OmasSoep.png' %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>A data anlysis project. 
            The weekly obtained Albert Heijn sales figures of Oma's Soep products are structured in an Excel file 
            and data analysis is performed on these numbers. Besides the sales figures are saved in a SQL database 
            and a data analysis Python Dashboard is created. </p>
        <br>
        <h5>Technologies used:</h5>
        <p>Excel, Python, SQLite</p>
        <br>
        <h5>Links:</h5>
        <p>
            Website: <a href=https://omassoep.nl>https://omassoep.nl</a><br>
        </p>
    </div>
</div>
{% endblock %}