{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Zwerbond App</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static 'img/Zwerfbond.png' %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>Mobile App for hiking events during Eastern and Ascension Day. 
            Made with the Kivy Framework in Python: <a href=https://kivy.org>https://kivy.org</a>.  Available on IOS and Android. </p>
        <br>
        <h5>Technologies used:</h5>
        <p>Python,  Kivy,  Flask, SQLite</p>
        <br>
        <h5>Links:</h5>
        <p>
            Website: <a href=https://www.zwerfbond.nl>https://www.zwerfbond.nl</a><br>
            Github: <a href=https://github.com/Ernest94/Zwerfbond>https://github.com/Ernest94/Zwerfbond</a><br>
            PlayStore: <a href=https://play.google.com/store/apps/details?id=org.ernestapp.zwerfbondappv2&pli=1>https://play.google.com/store/apps/details?id=org.ernestapp.zwerfbondappv2&pli=1</a><br>
            AppStore: <a href=https://apps.apple.com/us/app/zwerfbond/id1663544060>https://apps.apple.com/us/app/zwerfbond/id1663544060</a>
        </p>
    </div>
</div>
{% endblock %}